.wht{font-family:verdana,arial;font-size:11px;color:#ffffff;}
.wht_s{font-family:verdana,arial;font-size:9px;color:#ffffff;}
.blue_s{font-family:verdana,arial;font-size:9px;color:#003399;}
.wht_b{font-family:verdana,arial;font-size:15px;color:#ffffff;}
.blk{font-family:verdana,arial;font-size:10px;color:#000000}
.blk_b{font-family:verdana,arial;font-size:11px;color:#000000;}
.blk_s{font-family:verdana,arial;font-size:9px;color:#000000;}
.gry{font-family:verdana,arial;font-size:10px;color:#D6CFCE;}
.blu{font-family:verdana,arial;font-size:10px;color:#000094;}
.darkgry{font-family:verdana,arial;font-size:10px;color:#6B6963;}

preloadImages
a{TEXT-TRANSFORM:none;color:#000000;}	
a:hover{color:red;text-decoration:none;}

.row_blue {	font-family: Verdana, Arial, Helvetica, sans-serif;
         	font-size: 10px;
         	padding : 2px;
         	background-color : #e6f1f8;
         	padding-left : 8px;
         	height : 20px;
         }
.row_white {	font-family: Verdana, Arial, Helvetica, sans-serif;
         	font-size: 10px;
         	padding : 2px;
         	background-color : #ffffff;
         	padding-left : 8px;
         	height : 20px;
         }

INPUT.box { 
    border-left: solid 1px #336699; 
    border-top: solid 1px #336699; 
    border-right: solid 1px #336699; 
    border-bottom: solid 1px  #336699; 
    font-family: 'verdana, arial, Helvetica'; 
    font-size: 8pt; 
    color: #000000; 
    background-color: #FFFFFF; 
}

select { 
    font-family: 'verdana, arial, Helvetica'; 
    font-size: 8pt; 
    color: #000000; 
    background-color: #cde8f9; 
}